@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600&display=swap');

:root {
    --color-primary: #222222;
    --color-primary-faded: #303030;
    --color-primary-light: #ffffff80;
    --color-secondary: #FFFFFF;
    --color-start-btn: #ACA389;
    --color-guess-btn: #C76136;
    --color-buy-btn: #36C756;
    --color-bought-btn: #C7C136;
    --color-froze-btn: #749BFF;
    
    --button-color-primary: #b56441;
    --button-color-secondary: #749BFF;

    --game-gradient: linear-gradient(0deg, #b2562d 0%, #452415 100%);
    --blue-gradient: linear-gradient(0deg, #749BFF 0%, #1f3b80 100%);

    --font-primary: 'Manrope', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    gap: 20px;

    &.align-vertical {
        flex-direction: column;
    }
}

button {
    cursor: pointer;
}

#root {
    overflow: hidden;
}

.App {
    display: flex;
    flex-direction: column;
    background: var(--game-gradient);
    color: var(--color-secondary);
    height: 100vh;
    max-width: 500px;
    margin: 0 auto;
    font-family: var(--font-primary);
    font-size: 1em;
    position: relative;
}

button,
.button {
    font-family: var(--font-primary);
    text-transform: uppercase;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    color: var(--color-secondary);
    font-size: 1.75em;
}

button.primary,
.button.primary {
    border: 1px solid var(--button-color-primary);
    border-radius: 3.75rem;
    background-image: var(--game-gradient);
	box-shadow: 0 1rem 1.25rem 0 rgba(69, 36, 21, 0.5),
		        0 -0.25rem 1.5rem rgba(242, 130, 82, 1) inset,
		        0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
		        0 0.25rem 0.5rem 0 rgba(242, 130, 82, 1) inset;
}

button.secondary,
.button.secondary {
    border: 1px solid var(--button-color-primary);
    border-radius: 3.75rem;
    background-image: var(--blue-gradient);
	box-shadow: 0 1rem 1.25rem 0 rgba(116, 155, 255, 0.5),
		        0 -0.25rem 1.5rem rgba(116, 155, 255, 1) inset,
		        0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
		        0 0.25rem 0.5rem 0 rgba(116, 155, 255, 1) inset;
}

button.guess,
.button.guess {
    background-color: var(--color-guess-btn);
}

button.freeze,
.button.freeze {
    background-color: var(--color-froze-btn);
}

button.buy,
.button.buy {
    background-color: var(--color-buy-btn);
    padding: 10px 20px;
}

button.buy:disabled {
    background-color: var(--color-froze-btn);
}

button:disabled {
    cursor: not-allowed;
}

.danger {
    color: var(--color-guess-btn);
}

@media screen and (max-width: 375px) {
    button,
    .button {
        font-size: .75em;
    }
}